parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\Service\TimezoneService:
        arguments:
            $allowedTimezones: !constant 'App\\Entity\\Inspector::ALLOWED_TIMEZONES'
